<div class="">
  <div class="">
    <div>
      <h1 class="">Reset your password</h1>
    </div>
    <div class="">
      {% form 'reset_customer_password' %}
        {% if form.errors %}
          <div class="" role="alert">
            <strong class="">Error!</strong>
            <p class="">{{ form.errors | default_errors }}</p>
          </div>
        {% endif %}

        <div class="">
          <label for="password" class="">Password</label>
          <input
            type="password"
            name="customer[password]"
            id="password"
            autocomplete="new-password"
            class=""
            placeholder="Password"
          >
        </div>

        <div class="">
          <label for="password_confirmation" class="">Password Confirmation</label>
          <input
            type="password"
            name="customer[password_confirmation]"
            id="password_confirmation"
            autocomplete="new-password"
            class=""
            placeholder="Confirm your password"
          >
        </div>

        <div>
          <button type="submit" class="">Reset password</button>
        </div>
      {% endform %}
    </div>
  </div>
</div>
