$gray: #3a3d3b;
$green: #99aab1;
$white: #ffffff;
$black: #000000;
$danger: #db1111;
$background-gray: #dedede;
$border-gray: #837e7e;
$light-gray: #b7b7b7;
$border-gray-light: #cecece;
$background-gray-light: hsla(0, 0%, 71.8%, 0.15);
$brown: #c6bbb0;
$light-brown: #e3dbd3;
$white-smoke: #f2f2f2;
$pink: #f2e2db;